body
{
    background-color: lightseagreen;
    margin: 0;
    padding: 1rem 0rem 0rem 1rem;
    line-height: 2;

}
td, tr
{
    cell-spacing: 2rem;
}
h1 
{
    color: lightgreen;
    text-align: center;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
}
h3 {
    color: blue;
}
hr {
    border: 1px;
    color: white;
}
